<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>fis3 可视化构建工具</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/pure-min.css" />
  <link rel="stylesheet" href="css/app.css" />
</head>

<body>
  <div id="app">
    <index></index>
  </div>
  <template id="index">
    <section class="content">
      <h2> fis3 可视化构建工具</h2>
      <div class="pure-form">
        <div>
          <label for="">项目路径</label>
          <div>
            <input type="text" v-model="root">
            <div class="pure-button" @click="openDirectory('root')">选择目录</div>
          </div>
        </div>
        <div>
          <label for="">产出路径</label>
          <div>
            <input type="text" v-model="dist">
            <div class="pure-button" @click="openDirectory('dist')">选择目录</div>
          </div>
        </div>
        <div>
          <label for="mode">模式</label>
          <select name="mode" id="mode" v-model="mode">
            <option value="dev">开发->编译到内置服务器目录</option>
            <option value="dist">开发->编译到产出目录</option>
            <option value="prod">发布->编译到产出路径</option>
            <option value="static">静态资源文件->编译到产出路径</option>
          </select>
        </div>

      </div>
      <div>
        编译
        <!--<label><input type="checkbox" name="argv" value="L" v-model="argvs">liveload</label>
        <label><input type="checkbox" name="argv" value="w" v-model="argvs">watch</label>-->
        <button class="pure-button pure-button-primary" @click="run">启动</button>
        <!--<button class="pure-button " data-cmd="server stop">停止</button>-->
      </div>
      
      <server></server>
      <console></console>

    </section>
  </template>
  <template id="server">
    <div class="pure-form">
      内置服务器:
      <div>
        <label for="port">端口</label>
        <input id="port" type="text" v-model="port">
      </div>
      <div>
        <button class="pure-button pure-button-primary" @click='cmd("server start")'>启动</button>
        <button class="pure-button pure-button-primary" @click='cmd("server restart")'>重启</button>
        <button class="pure-button" @click='cmd("server stop")'>停止</button>
        <button class="pure-button" @click='cmd("server open")'>打开目录</button>
        <button class="pure-button" @click='cmd("server clean")'>清空目录</button>
      </div>
    </div>
  </template>
  <template id="console">
    <div>
      <div>控制台</div>
      <button class="pure-button pure-button-primary" @click="clear">清空</button>
      <div id="jsConsole">
        <span v-for="console in consoleData " v-html="console"></span> 
      </div>
    </div>
  </template>
  <script src="js/tools.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
